*{
			  padding:0;
			  margin:0;
			  border-width: 0px;
}

*, *:before, *:after {
  		box-sizing: border-box;
}

html, body {
			  overflow-x: hidden;
			  touch-action: none;
			  -ms-touch-action:none;
			  margin:0px;
			  padding:0;
			   overflow: hidden;
}

body {
			  position: relative;
			   overflow: hidden;
			    width: 100%;
			    height:100%;
			    -webkit-box-sizing: border-box;
			       -moz-box-sizing: border-box;
			            box-sizing: border-box;
			    padding:0px;
			    margin:0px;      
			    border: none !important;       
}

.button {
				  //background-color: #4CAF50;
				  border: none;
				  padding: 5px 5px 5px 5px;
				  margin: 0px;
				  display: inline-block;
}

.slider-wrap {
	width: 100%;
  height: 105px;
  overflow-x: auto;
  overflow-y: hidden;
  overflow: -moz-scrollbars-none;  // Firefox
  margin:0px;
  padding:0px;
}

.slider-wrap::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
}

.slider {
	width: 1000px;
  height: 105px;
  margin:0px;
  padding:0px;
}

.slide {
	float:left;	
	//display: inline-block;
  margin-left:-3px;
  margin-top:-2px;
  padding:0px;
}

.product-wrap {
	width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: -moz-scrollbars-none;  // Firefox
  margin:0px;
  padding:0px;
  position: absolute;
  top: 0;
  left: 0;
}

.product-wrap::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
}

.productslider {
	width: 20000px;
  height: 100%;
  position:absolute;  
}

.product {	
	float:left;	
	display: inline-block;
  margin-left:0px;
  margin-top:0px;
  padding:0px;
}

.hidden {
	visibility:hidden;
}

.shown {
	visibility:show;
}

.imenu {
	width:100%;
	height:700px;
	position:relative;
	padding:0px;
	margin:0px;
}

.close {
	height:20px;
	width:100%;
	float: left;
	z-index:11;
	border:1px red;
	top:0px;
	left:0px;
	position:absolute;
	text-align: left;
}
.closebtn {
	width:20px;
	position:relative;
}

}